<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Morph Laundry</title>
  </head>
  <center>
  <h1>Admin Laundry</h1>
  <h2>Hai Admin, apa kabar mu hari ini :)</h2><br>
  <body>
    <a href = "/admin/stuff"><button type="button" class="btn btn-primary">List barang yang dapat di laundry</button></a><br><br>
    <a href = "/admin/listuser"><button type="button" class="btn btn-primary">List Pelanggan</button></a><br><br>
    <a href = "/"><button type="button" class="btn btn-danger">Logout</button></a>

  </body>
</center>
</html>
