<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
  </head>
  <body>
  <center>
    <h2>Add User</h2><br><br>
    <form action="/user/add" method="POST">
    Nama:<br>
    <input type="text" name="namaEjs" value="">
    <br><br>
    Phone:<br>
    <input type="text" name="phoneEjs" value="">
    <br><br>
    Alamat:<br>
    <input type="text" name="alamatEjs" value="">
    <br><br>
    Email:<br>
    <input type="text" name="emailEjs" value="">
    <br><br>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
